.wrapper-accordeon {
    height: 100%;
}

/* 
 Style the buttons that are used to open and close the accordion panel  */
.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS),
and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: black;
}

/* Style the accordion panel. Note: hidden by default  */
.panel {
    padding: 0 18px;
    background-color: black;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion,
.panel {
    border-bottom: 2px solid white;
}



/* symbols naast accordeon */
.accordion:after {
    content: '';
    /* Unicode character for "plus" sign (+) */
    width: 10px;
    height: 10px;
    float: right;
    margin-left: 5px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
}

.active.accordion:after {
    content: '';
    width: 10px;
    height: 10px;
    float: right;
    transform: rotate(90deg);

    /* Unicode character for "minus" sign (-) */
}

.panel ul li {
    padding-bottom: 20px;
}

.panel ul li {
    cursor: pointer;

}

.panel :hover {
    color: rgb(235, 0, 139);
}
















.artist .jaar {
    position: relative;

}

.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* align-items: center; */
    width: 100%;
    font-family: futura-pt, sans-serif;
}

.artist-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    font-family: futura-pt, sans-serif;
}

.artist-img1,
.artist-img2,
.artist-img3,
.artist-img4,
.artist-img5,
.artist-img6,
.artist-img7,
.artist-img8 {
    display: flex;
}


/* bron: https: //www.w3schools.com/css/tryit.asp?filename=trycss_image_modal_js */

.flip-card {
    width: 40%;
    cursor: pointer;
    margin-bottom: 5%;
}

.flip-card-front img {
    width: 100%;
}

.flip-card-front1 img {
    width: 100%;
}

.flip-card-back {
    display: none;
}

.flip-card-back1 {
    display: none;
}

.artist,
.artist1 {
    margin-top: 50px;
}


/* on click images */
.w3-modal img {
    width: 40%;
    margin-top: 20px;
    height: auto;
}

.w3-container {
    background-color: black;
    text-align: center;
    word-wrap: none;

}

.w3-modal {
    width: 50%;
}

.W3-modal-conent-inner a {
    text-decoration: none !important;
    display: block;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.name-list,
.dates {
    display: none;
    font-family: futura-pt, sans-serif !important;
}


@media(max-width: 320px) {
    header img {
        max-width: 90%;
        margin-top: 10px;
    }

    .artist .jaar {
        position: relative;
        margin-top: -0vh;

    }
}

@media(min-width: 768px) {


    /*    .outer-wrapper {
        background-color: transparent;
    }
    .outer-wrapper-contact {
        width: 100%;
        background-color: black;
        color: white;
        line-height: 1.5;
    } */

    nav li {
        border: 2px solid transparent;
    }

    .locatie {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .map {
        width: 60%;
    }

    .artist {
        margin-left: 5%;
        margin-top: 10vh;
    }
}

@media(min-width:1024px) {



    /**************artists********************/

    .wrapper-accordeon {
        display: none;
    }

    .tijdlijn {
        position: fixed;
        width: 5px;
        height: 60%;
        left: 5%;
        top: 200px;
        background-color: white;
    }

    .name-list {
        display: flex;
        color: white;

        position: relative;
        top: 25px;
    }

    .name-list li {
        color: white;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        font-size: .8em;
        top: 35px;
        margin-left: 10px;
    }

    .name-list .jaar {
        top: -35px;
    }

    .name-list li:hover {
        color: yellow;
    }


    .dates {
        display: block;
    }

    .dates a {
        position: relative;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: space-around;
        top: 100px;
        left: 50px;
        margin-bottom: 50px;
    }

    .date::before {
        content: '';
        position: absolute;
        right: 45px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: white;
    }

    .w3-display-topright {
        background: white;
    }

    .W3-modal-conent-inner :first-child {
        position: relative;
        width: 50%;
    }

    .flip-card {
        background-color: transparent;
        width: 15%;
        perspective: 1000px;
        margin-right: 5%;
        margin-top: 100px;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 12px;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-back {
        width: 100%;
        position: relative;
        display: block;
        border: 10px double rgb(235, 0, 139);
        top: -5%;
        padding-bottom: 10px;
        background-color: black;
        color: white;
        transform: rotateY(180deg);
        margin-left: 10%;
    }

    .flip-card-back h2 {
        font-size: 15px;

    }

    .flip-card img {
        width: 100%;
    }




    .w3-container {
        text-align: left;
        margin-top: 20%;
    }

    .W3-modal-conent-inner :first-child {
        position: relative;
        align-self: center;
        width: 70%;

    }

    .W3-modal-conent-inner :last-child {
        flex: 1;
    }

    .W3-modal-conent-inner {
        display: flex;
        justify-content: space-around;
    }

    .artist {
        margin-left: 10%;
        margin-top: 0vh;
    }

    .artist1 {
        margin-left: 10%;
        margin-top: 12%;
    }

    .artist .jaar {
        position: relative;
    }

    .artist1 .jaar {
        position: relative;
    }

    .artist-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: -5%;
        font-family: futura-pt, sans-serif;
    }

    .artist-container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: center; */
        width: 100%;
        font-family: futura-pt, sans-serif;
    }

    .artist-img1,
    .artist-img2,
    .artist-img3,
    .artist-img4,
    .artist-img5,
    .artist-img6,
    .artist-img8 {
        margin-left: -20px;
    }

    .artist-img5,
    .artist-img6,

    .artist-img8 {
        margin-top: -10%;
    }

    .artist-img2 {
        margin-left: 20px;
    }

    .artist-img7 {
        margin-left: -40px;
    }


    .jaar2 {
        position: relative;
        top: 100px;
    }

    /**************artists end********************/


}