/* https://www.youtube.com/watch?v=P0Ot9qE5was */



@import url(../css/contact.css);
@import url(../css/home.css);
@import url(../css/traject.css);
@import url(../css/artist.css);

html {
    scroll-behavior: smooth;
}




/* LOADING PAGE */
/* 
bron:https://smallenvelop.com/display-loading-icon-page-loads-completely/ */


.no-js #loader {
    display: none;
}


.js #loader {

    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}


.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/Logobegin.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: black;
}



body {
    background-color: black;
}

.outer-wrapper-home {
    width: 100%;
    background-color: black;
    color: white;

}


.wrapper-home {
    background-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

.outer-wrapper-contact {
    width: 100%;
    background-color: black;
    color: white;

}

.wrapper-contact {
    background-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    font-family: futura-pt, sans-serif !important;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal !important;
}

h1 {
    font-weight: heavy;
    font-size: 3em;
}

h2 {
    font-weight: medium;
    font-size: 2em;
}

.header {

    display: flex;
    justify-content: space-between;
    padding-top: 20px;


}

#menu {
    position: absolute;
    width: 25px;
    right: 10%;
    padding-top: 20px;
    cursor: pointer;
}



.bar {
    display: block;
    height: 4px;
    background-color: white;
    transition: 0.3s ease-out;


}

#bar1 {
    transform: translateY(-5px);

}

#bar3 {
    transform: translateY(5px);
}

.nav {
    display: none;
    position: absolute;
    text-align: center;

}

nav li {
    border: 2px solid transparent;
    transform: translateX(200px);

}


nav li a {
    text-decoration: none;
    display: block;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

/* nav hover */
nav ul li:first-child:hover {
    border: 2px solid rgb(235, 0, 139);
    border-radius: 100%;
}


nav ul li:nth-child(2):hover {
    border: 2px solid rgb(0, 174, 239);
    border-radius: 100%;
}

nav ul li:nth-child(3):hover {
    border: 2px solid rgb(255, 242, 0);
    border-radius: 100%;
}

nav ul li:last-child:hover {
    border: 2px solid rgb(235, 0, 139);
    border-radius: 100%;
}



/* nav circle stay*/


.disabled1 {
    border: 2px solid rgb(235, 0, 139);
    border-radius: 100%;
    pointer-events: none;
    cursor: not-allowed;
}


.disabled2 {
    border: 2px solid rgb(0, 174, 239);
    border-radius: 100%;
    padding-left: 10px !important;
    padding-right: 10px !important;
    pointer-events: none;
    cursor: not-allowed;

}


.disabled3 {
    border: 2px solid rgb(255, 242, 0);
    border-radius: 100%;
    pointer-events: none;
    cursor: not-allowed;
}

.disabled4 {
    border: 2px solid rgb(235, 0, 139);
    border-radius: 100%;
    pointer-events: none;
    cursor: not-allowed;
}


.change #menu {
    overflow: hidden;
}

.change #bar1 {
    transform: translateY(2px) rotateZ(45deg);
    transition-duration: 0.2s;
}

.change #bar2 {
    display: none;
}

.change #bar3 {
    transform: translateY(-2px) rotateZ(-45deg);
    transition-duration: 0.2s;
}

.nav.change {
    display: block;
    transform: translateX(-200px);
    position: relative;

    margin-top: 80px;
    right: 20%;
}

nav ul li {
    margin: 30px 20px 20px 20px;

}

nav a {
    text-decoration: none;
    color: white;
}

header img {
    max-width: 300px;
}





/* footer */

.logo-n22 img {
    width: 50%;
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
}

.fa-facebook:hover {
    color: rgb(235, 0, 139);
}

.fa-instagram:hover {
    color: rgb(0, 174, 239);

}

.fa-twitter:hover {
    color: rgb(255, 242, 0);
}

.fa-phone:hover {
    color: rgb(235, 0, 139);
}


/* back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#myBtn:hover {
    background-color: rgb(235, 0, 139);
    color: white;
}

@media(min-width: 768px) {


    .outer-wrapper {
        background-color: transparent;
    }

    .outer-wrapper-contact {
        width: 100%;
        background-color: black;
        color: white;
        line-height: 1.5;
    }

    nav li {
        border: 2px solid transparent;
    }

    .locatie {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .map {
        width: 60%;
    }
}

@media(min-width:1024px) {

    /* loading page */
    .se-pre-con {
        background-size: 30%;

    }

    #menu-bar {
        display: none;
    }

    /* .bignav {
        position: relative;
        bottom: 60px;
        left: 10%;
    } */

    .nav {
        position: relative;
        display: block;
        right: 35%;
    }

    .nav ul li {
        display: inline-block;

    }

    .outer-wrapper-home {
        background-color: transparent;
    }

    .wrapper-home {
        background-color: transparent;
    }

    nav li {
        border: 2px solid transparent;
    }

    .slider {
        display: none;
    }

    .sliderTwo {
        display: none;
    }


    #SLIDE_BG {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        animation: slideBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(../images/desk-begin.jpg);
        z-index: -1;
        padding-top: 100px;
    }


    @keyframes slideBG {
        0% {
            background-image: url(../images/desk-begin.jpg);


        }

        25% {
            background-image: url(../images/desk-begin-2.jpg);
        }

        50% {
            background-image: url(../images/desk-begin-3.jpg);
        }

        75% {
            background-image: url(../images/desk-begin-4.jpg);

        }

        100% {
            background-image: url(../images/desk-begin.jpg);
        }
    }


    .over-ons {
        padding-top: 200px;
        margin-top: 62%;
        width: 50%;
    }

    /* contact */




    .contact {
        width: 100%;
    }


    #eerste {
        display: flex;
    }

    #eerste div {
        width: 30%;
        margin-right: 10%;
    }

    #tweede {
        display: flex;
        flex-direction: column;
        width: 97.5%;
    }


    /* contact */

    .outer-wrapper-contact {
        background-color: black;
        width: 100%;
    }

    .wrapper-contact {
        background-color: #000000;
        margin-left: 10%;
        margin-right: 10%;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    #eerste {
        display: flex;

    }

    .contact {
        position: relative;
    }

    .container {
        max-width: 90%;
    }

    /* .content {
        left: 120px;
    } */

    .google-map {
        width: 60%;

    }

    /* footer */

    .fa {
        width: 150px;
    }


    /* over ons */

    .over-ons {
        padding-bottom: 100px;
        padding-top: 100px;
        display: flex;
        justify-content: space-between;

    }

    .over-ons-text {
        width: 50%;
        padding-right: 30px;
    }

    .over-ons-text p {
        font-size: larger;
    }

    .over-ons a {
        position: relative;
        text-decoration: none;
        color: white;
        top: 50px;
        padding: 15px;
        font-weight: medium;
        border: 2px solid white;
    }

    .over-ons a:hover {
        border: 2px solid rgb(235, 0, 139);
    }

    section div.map {
        margin-top: 2%;
        width: 70%;
        position: relative;
        text-align: right;
        display: block;
    }

    section.over-ons {
        width: 100%;
    }

    .map img {
        width: 70%;
    }

}