/* https://www.youtube.com/watch?v=P0Ot9qE5was */


html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.outer-wrapper-home {
    width: 100%;
    background-color: black;
    color: white;
    line-height: 1.5;
}


.wrapper-home {
    background-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.outer-wrapper-contact {
    width: 100%;
    background-color: black;
    color: white;
    line-height: 1.5;
}

.wrapper-contact {
    background-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-weight: heavy;
    font-size: 3em;
}

h2 {
    font-weight: medium;
    font-size: 2em;
}

.header {

    display: flex;
    justify-content: space-between;
    padding-top: 20px;


}

#menu {
    position: absolute;
    width: 25px;
    right: 10%;
    padding-top: 20px;
    cursor: pointer;
}



.bar {
    display: block;
    height: 4px;
    background-color: white;
    transition: 0.3s ease-out;


}

#bar1 {
    transform: translateY(-5px);

}

#bar3 {
    transform: translateY(5px);
}

.nav {
    display: none;
    position: absolute;
    text-align: center;

}

nav li {
    border: 2px solid transparent;
    transform: translateX(200px);

}


nav li a {
    text-decoration: none;
    display: block;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

/* nav hover */
nav ul li:first-child:hover {
    border: 2px solid rgb(235, 0, 139);
    border-radius: 100%;
}


nav ul li:nth-child(2):hover {
    border: 2px solid rgb(0, 174, 239);
    border-radius: 100%;
}

nav ul li:nth-child(3):hover {
    border: 2px solid rgb(255, 242, 0);
    border-radius: 100%;
}

nav ul li:last-child:hover {
    border: 2px solid rgb(235, 0, 139);
    border-radius: 100%;
}



.change #menu {
    overflow: hidden;

}

.change #bar1 {
    transform: translateY(2px) rotateZ(45deg);
    transition-duration: 0.2s;

}

.change #bar2 {
    display: none;

}

.change #bar3 {
    transform: translateY(-2px) rotateZ(-45deg);
    transition-duration: 0.2s;

}

.nav.change {
    display: block;
    transform: translateX(-200px);
    position: relative;

    margin-top: 80px;
    right: 20%;
}

nav ul li {

    margin: 30px 20px 20px 20px;

}

nav a {
    text-decoration: none;
    color: white;
}

header img {
    max-width: 300px;
}




/* carousel */



.slider {
    display: grid;
    place-items: center;
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;


}

.slide-track {
    display: flex;
    width: calc(250px*6);
    animation: scroll 10s linear infinite;
    animation-iteration-count: infinite;
}

.slide {
    width: 250px;
    display: flex;
    align-items: center;
}

.slide img {
    width: 100%;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-750px);
    }

}

.sliderTwo {
    display: grid;
    place-items: center;
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.slide-trackTwo {
    display: flex;
    width: calc(250px*6);
    animation: scrollTwo 10s linear infinite;
    animation-iteration-count: infinite;
}

.slideTwo {
    /*    width: 250px;
    height: auto;
    display: flex;
    align-items: center; */

    width: 250px;
    display: flex;
    align-items: center;


}

.slideTwo img {
    width: 100%;
    height: auto;
}

@keyframes scrollTwo {
    0% {
        transform: translateX(-750px);
    }

    100% {
        transform: translateX(0px);
    }

}

/* over ons */

.over-ons {
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.over-ons-text {
    width: 100%;
}

.over-ons a {
    position: relative;
    text-decoration: none;
    color: white;
    top: 50px;
    padding: 15px;
    font-weight: medium;
    border: 2px solid white;
}

.over-ons a:hover {
    border: 2px solid rgb(235, 0, 139);
}

section div.map {
    width: 50%;
    position: relative;
    text-align: right;
    display: none;
}

section.over-ons {
    width: 100%;
}


/* traject */

/* The actual timeline (the vertical ruler) */
.line {
    position: relative;
    width: 100%;
    right: 0px;
}

/* The actual timeline (the vertical ruler) */
.line::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 50px;
    left: 0px;
    bottom: 0;
}

/* Container around content */
.container {
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -7.5px;
    margin-left: 4px;
    background-color: white;
    top: 50px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* the right box */


.line h1 {
    color: white;
    text-align: center;
    font-size: 48px;
}

.line p {

    font-size: 16px;
}

.line h2 {

    font-size: 32px;
    text-shadow: 2px 1.5px white;
}


/* Circle the right side */
.right::after {
    left: -7.5px;
}


/* The actual content */
.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;

}

.container p {
    color: white;
}

.start {
    color: rgb(235, 0, 139);

}

.begeleiding {
    color: rgb(0, 174, 239);

}

.proces {
    color: yellow;

}

.resultaat {
    color: rgb(235, 0, 139);

}

.noise {
    display: none;
}

#button-contact {
    position: relative;
    text-decoration: none;
    color: white;
    top: 50px;
    padding: 15px;
    font-weight: medium;
    border: 2px solid white;
    text-align: center;
}

#button-contact:hover {
    border: 2px solid rgb(235, 0, 139);
}





/* contact */

.container {
    margin-top: 20px;
    width: 100%;
    background-color: black;
}

/* ask team */
input[type=text] {

    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    border: 3px solid transparent;
}



input:hover {
    border: 3px solid rgb(235, 0, 139);
}

.contact {

    padding: 16px 20px 16px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container-contact {
    margin-top: 20px;
}


.btn {
    position: relative;
    text-decoration: none;
    color: white;
    top: 20px;
    padding: 15px;
    font-weight: medium;
    border: 2px solid white;
}


.container-contact a:hover {

    border: 2px solid rgb(235, 0, 139);
}

.verantw a {
    color: white;

}



.verantw {
    margin-top: 100px;
}

.locatie {
    position: relative;
    margin-top: 50px;
}

.adress {
    display: flex;
    flex-direction: column;
}

.adress div {
    margin-bottom: 50px;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
}

.fa-facebook:hover {
    color: rgb(235, 0, 139);
}

.fa-instagram:hover {
    color: rgb(0, 174, 239);

}

.fa-twitter:hover {
    color: rgb(255, 242, 0);
}

.fa-phone:hover {
    color: rgb(235, 0, 139);
}



@media(min-width: 768px) {


    /*    .outer-wrapper {
        background-color: transparent;
    }

    .outer-wrapper-contact {
        width: 100%;
        background-color: black;
        color: white;
        line-height: 1.5;
    } */

    nav li {
        border: 2px solid transparent;
    }

    .locatie {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .map {
        width: 60%;
    }

}


@media(min-width:1024px) {

    #menu-bar {
        display: none;
    }

    /* .bignav {
        position: relative;
        bottom: 60px;
        left: 10%;
    } */

    .nav {
        position: relative;
        display: block;
        right: 35%;
    }

    .nav ul li {
        display: inline-block;

    }

    .outer-wrapper-home {
        background-color: transparent;
    }

    .wrapper-home {
        background-color: transparent;
    }

    nav li {
        border: 2px solid transparent;
    }

    .slider {
        display: none;
    }

    .sliderTwo {
        display: none;
    }


    #SLIDE_BG {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        animation: slideBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(../images/desk-begin.jpg);
        z-index: -1;
        padding-top: 100px;
    }


    @keyframes slideBG {
        0% {
            background-image: url(../images/desk-begin.jpg);


        }

        25% {
            background-image: url(../images/desk-begin-2.jpg);
        }

        50% {
            background-image: url(../images/desk-begin-3.jpg);
        }

        75% {
            background-image: url(../images/desk-begin-4.jpg);

        }

        100% {
            background-image: url(../images/desk-begin.jpg);
        }
    }


    .over-ons {
        padding-top: 200px;
        margin-top: 62%;
        width: 50%;
    }

    /* contact */




    .contact {
        width: 100%;
    }


    #eerste {
        display: flex;
    }

    #eerste div {
        width: 30%;
        margin-right: 10%;
    }

    #tweede {
        display: flex;
        flex-direction: column;
        width: 97.5%;
    }


    /* contact */

    .outer-wrapper-contact {
        background-color: black;
        width: 100%;
    }

    .wrapper-contact {
        background-color: #000000;
        margin-left: 10%;
        margin-right: 10%;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    #eerste {
        display: flex;

    }

    .contact {
        position: relative;
    }

    .container {
        max-width: 90%;
    }

    .content {
        left: 120px;
    }




    /* TRAJECT */

    /* NOISE */

    .noise {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 70%;
        top: 50%;

    }

    #noise-1 {
        transform: rotateY(180deg);
        height: 1500px;
        margin-left: -30%;
    }

    #noise-2 {

        height: 1500px;
        margin-right: -30%;
        overflow-x: hidden;
        direction: rtl;
    }




    .line::after {
        content: '';
        position: absolute;
        width: 5px;
        background-color: white;
        top: 80px;
        bottom: -100px;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */
    .container {
        position: relative;
        background-color: inherit;
        width: 30%;
    }

    /* The circles on the timeline */
    .container::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: white;
        top: 100px;
        border-radius: 50%;
        z-index: 1;
    }


    .container.left::after {
        position: relative;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: white;
        top: 100px;
        left: 385px;
        border-radius: 50%;
        z-index: 1;
    }


    /* Place the container to the left */
    .left {
        left: 0px;
    }

    /* the right box */
    .right {
        left: 50%;
    }

    h1 {
        color: white;
    }


    .container.left::after {

        position: relative;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: white;
        top: 100px;
        left: 163.5%;
        border-radius: 50%;
        z-index: 1;

    }

    /* Circle the right side */
    .right::after {
        left: -13px;
    }

    /* The actual content */
    .content {
        position: relative;
        border-radius: 6px;
    }

    .container p {
        color: white;
    }

    .content {
        position: relative;
        top: 50px;
    }

    .line {
        margin-bottom: 100px;
    }

    .logo-draaien img {
        position: relative;
        display: block;
        left: 30%;
    }

    /* artists */

    .tijdlijn {
        position: fixed;
        width: 5px;
        height: 90%;
        left: 5%;
        top: 50px;
        background-color: white;
    }

    .dates a {
        position: relative;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: space-around;
        top: 100px;
        left: 50px;
        margin-bottom: 50px;
    }

    .date::before {
        content: '';
        position: absolute;
        right: 45px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: white;
    }

    .artist {
        margin-left: 5%;
        margin-top: 100px;
    }

    .artist-container {
        display: flex;

    }

    .artist-container img {
        width: 20%;
        margin-right: 5%;
        margin-top: 5%;
    }


    /* .noise img {
        position: absolute;
        right: -120px;
        bottom: 20px;
        width: 500px;
    } */


    /* footer */

    .fa {
        width: 150px;
    }


    /* over ons */

    .over-ons {
        padding-bottom: 100px;
        padding-top: 100px;
        display: flex;
        justify-content: space-between;

    }

    .over-ons-text {
        width: 50%;
        padding-right: 30px;
    }

    .over-ons a {
        position: relative;
        text-decoration: none;
        color: white;
        top: 50px;
        padding: 15px;
        font-weight: medium;
        border: 2px solid white;
    }

    .over-ons a:hover {
        border: 2px solid rgb(235, 0, 139);
    }

    section div.map {
        width: 50%;
        position: relative;
        text-align: right;
        display: block;
    }

    section.over-ons {
        width: 100%;
    }

}